@charset "UTF-8";
body {
  background-image: url("../img/paper-light.jpg");
  background-size: 512px 512px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../img/paper-dark.jpg");
  }
}
body > * {
  mix-blend-mode: multiply;
}
@media (prefers-color-scheme: dark) {
  body > * {
    mix-blend-mode: screen;
  }
}

.hero {
  position: relative;
  background: #fff;
  filter: blur(0.6px) contrast(3.5);
}
.hero img {
  opacity: 0.52;
}
.hero::before {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cdefs%3E%3CradialGradient id='g' r='0.7071'%3E%3Cstop offset='0' stop-color='rgb(128,128,128)'/%3E%3Cstop offset='0.354' stop-color='rgb(140,140,140)'/%3E%3Cstop offset='0.53' stop-color='rgb(163,163,163)'/%3E%3Cstop offset='0.707' stop-color='rgb(209,209,209)'/%3E%3Cstop offset='0.85' stop-color='rgb(255,255,255)'/%3E%3Cstop offset='1' stop-color='rgb(255,255,255)'/%3E%3C/radialGradient%3E%3Cpattern id='p' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='3' height='3' fill='url(%23g)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%' height='100%' fill='url(%23p)'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  mix-blend-mode: multiply;
}

header,
section {
  filter: url("#ink-bleed");
  will-change: transform;
}

.filter-defs {
  position: absolute;
  width: 0;
  height: 0;
}

:root {
  font-size: clamp(20px, 20px + 4 * (100vw - 375px) / 1065, 24px);
  color-scheme: light dark;
  --background: light-dark(#eee, #111);
  --text: light-dark(#333, #ccc);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-style: normal;
  font-weight: inherit;
  line-height: 1.333em;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

hr {
  border: none;
  border-top: 2px solid var(--text);
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: proxima-soft-condensed, sans-serif;
  font-weight: 500;
  font-feature-settings: "liga" on;
  color: var(--text);
  letter-spacing: -0.01em;
  text-wrap: pretty;
  background-color: var(--background);
}

header {
  padding: 0 2.5rem 0.5rem;
  margin-top: -2rem;
  transform: skewY(-4.75deg);
}
header nav {
  font-family: proxima-soft-extra-condensed, sans-serif;
  font-size: calc((100vw - 5rem) / 24);
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1rem;
}
header nav ul li a {
  text-decoration: none;
}

h1 {
  font-family: proxima-soft-extra-condensed, sans-serif;
  font-size: calc((100vw - 5rem) / 5.35);
  font-weight: 700;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  white-space: nowrap;
  -webkit-text-stroke: 4px var(--text);
}

.hero {
  mask-image: url("../img/mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}
.hero figcaption {
  padding-right: 2.5rem;
  margin-top: -1rem;
  font-size: 0.833em;
  font-weight: 700;
  text-align: right;
}

a {
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2em;
}
a:hover, a:focus {
  text-decoration-thickness: 3px;
}
a:active {
  top: 1px;
}

main {
  max-width: 90rem;
  margin: 0 auto;
  transform: skewY(-4.75deg);
}

section {
  display: grid;
  gap: 0.5rem 2.5rem;
  padding: 2.5rem;
  border-top: 2px solid var(--text);
}
section:last-child {
  padding-bottom: 0;
}
@media (width > 640px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
  section h2 {
    grid-column: 1/-1;
  }
  section > :not(h2) {
    columns: 2;
    grid-column: 1/-1;
    column-gap: 2.5rem;
  }
}
@media (width > 1024px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
  section h2 {
    grid-column: 1;
  }
  section > :not(h2) {
    columns: 2;
    grid-column: 2/-1;
    column-gap: 2.5rem;
  }
}
section h2 {
  margin-bottom: 0.5rem;
  font-family: proxima-soft-extra-condensed, proxima-soft, sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
}
section p {
  margin-bottom: 1.5rem;
}
section cite {
  font-size: 0.833em;
  font-weight: 700;
}
section .intro p {
  margin-bottom: 1rem;
}
section .intro footer {
  margin-top: 0.5rem;
}
section .socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
section .socials li:not(:last-child)::after {
  margin-left: 0.5rem;
  content: "•";
  opacity: 0.5;
}
section .timeline {
  padding-left: 0;
  list-style: none;
}
section .timeline > li {
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
section .timeline > li .role,
section .timeline > li time {
  display: block;
  font-size: 0.833em;
  opacity: 0.5;
}
section .timeline > li ul {
  padding-left: 0;
  margin-top: 0.5rem;
  list-style: none;
}
section .press {
  padding-left: 0;
  list-style: none;
}
section .press li {
  display: grid;
  grid-template-columns: 4rem 1fr;
  column-gap: 1rem;
  margin-bottom: 0.75rem;
  break-inside: avoid;
}
section .press time {
  grid-column: 1;
  font-size: 0.833em;
  opacity: 0.5;
}
section .press a {
  grid-column: 2;
}
section .press cite {
  grid-column: 2;
}
section .press cite::before {
  content: "— ";
}

/*# sourceMappingURL=main.css.map */
