@charset "UTF-8";
:root {
  font-size: clamp(16px, 16px + 8 * (100vw - 375px) / 1065, 24px);
  color-scheme: light dark;
  --background: light-dark(#eee, #111);
  --text: light-dark(#111, #eee);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5em;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "kepler-3-subhead", serif;
  font-feature-settings: "liga" on;
  color: var(--text);
  text-wrap: pretty;
  background-color: var(--background);
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
  mask-image: url("../img/mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
.hero figcaption {
  padding-right: 4.5rem;
  margin-top: -1.5rem;
  font-size: 0.833em;
  font-style: italic;
  text-align: right;
  opacity: 0.5;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
}
a:hover, a:focus {
  opacity: 0.75;
}
a:active {
  opacity: 0.5;
}

main {
  max-width: 90rem;
  padding: 2.5rem;
  margin: 0 auto;
}

section {
  display: grid;
  gap: 0.5rem 2.5rem;
  padding: 2.5rem 0;
  border-top: 1px solid var(--text);
}
section:first-child {
  padding-top: 0;
  border-top: none;
}
section:last-child {
  padding-bottom: 0;
}
@media (width > 640px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
  section h1 {
    grid-column: 1/-1;
  }
  section .content {
    grid-column: 1/-1;
    columns: 2;
    column-gap: 2.5rem;
  }
}
@media (width > 1024px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
  section h1 {
    grid-column: 1;
  }
  section .content {
    grid-column: 2/-1;
    columns: 2;
    column-gap: 2.5rem;
  }
}
section h1 {
  margin-bottom: 0.5rem;
  font-size: 2em;
}
section p {
  margin-bottom: 1.5rem;
}
section cite {
  font-size: 0.833em;
  opacity: 0.5;
}
section .intro p {
  margin-bottom: 1rem;
}
section .intro p:first-child::first-letter {
  float: left;
  margin-right: 0.6rem;
  font-size: 3em;
  font-style: small-caps;
  line-height: 1;
}
section .intro footer {
  margin-top: 0.5rem;
}
section .socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
section .socials li:not(:last-child)::after {
  margin-left: 0.5rem;
  content: "•";
  opacity: 0.5;
}
section .timeline {
  padding-left: 0;
  list-style: none;
}
section .timeline > li {
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
section .timeline > li .role,
section .timeline > li time {
  display: block;
  font-size: 0.833em;
  opacity: 0.5;
}
section .timeline > li ul {
  padding-left: 0;
  margin-top: 0.5rem;
  list-style: none;
}
section .press {
  padding-left: 0;
  list-style: none;
}
section .press li {
  display: grid;
  grid-template-columns: 4rem 1fr;
  column-gap: 1rem;
  margin-bottom: 0.75rem;
  break-inside: avoid;
}
section .press time {
  grid-column: 1;
  font-size: 0.833em;
  opacity: 0.5;
}
section .press a {
  grid-column: 2;
}
section .press cite {
  grid-column: 2;
}
section .press cite::before {
  content: "— ";
}

/*# sourceMappingURL=main.css.map */
