* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  outline: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #303239; }

.stripes {
  display: flex;
  flex-direction: column;
  padding: 4vw; }
  .stripes li {
    flex-grow: 1;
    margin-bottom: 2vw;
    transform: skewX(22.5deg); }
    .stripes li:nth-child(1) {
      height: 3vw;
      background: #5a5ae6; }
    .stripes li:nth-child(2) {
      height: 2vw;
      background: #ff4444; }
    .stripes li:nth-child(3) {
      height: 1vw;
      background: #fff29e; }
