// COLORS
$black-0: #303239;
$black-1: #555964;
$black-2: #868A97;
$black-3: #AAADBA;
$black-4: #D5D8E3;
$purple: #5A5AE6;
$red: #FF4444;
$yellow: #FFF29E;

// UNITS
$unit: 1vw;

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: $black-0;
}

.stripes {
  display: flex;
  flex-direction: column;
  padding: $unit * 4;

  li {
    flex-grow: 1;
    margin-bottom: $unit * 2;
    transform: skewX(22.5deg);

    &:nth-child(1) {
      height: $unit * 3;
      background: $purple;
    }

    &:nth-child(2) {
      height: $unit * 2;
      background: $red;
    }

    &:nth-child(3) {
      height: $unit;
      background: $yellow;
    }
  }
}
