@import url('https://rsms.me/inter/inter.css');

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content
  }
}

@mixin mobile {
  @media (max-width: 640px) {
    @content
  }
}

:root {
  --c-cyan: cyan;
  --c-magenta: magenta;
  --c-yellow: yellow;
  --c-white: #eee;
  --c-black: #111;
}

@include dark-mode() {
  :root {
    --c-white: #111;
    --c-black: #eee;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: inherit;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 900;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  font-family: Inter, sans-serif;
  font-size: 24px;
  color: var(--c-black);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-align: center;
  background-color: var(--c-white);
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(transparent .5em, rgba(255, 255, 255, 1) .5em), linear-gradient(to right, var(--c-cyan), var(--c-magenta), var(--c-yellow));

  @include dark-mode() {
    background: linear-gradient(transparent .5em, rgba(0, 0, 0, .75) .5em, rgba(0, 0, 0, 1) 1em), linear-gradient(to right, var(--c-cyan), var(--c-magenta), var(--c-yellow));
  }

  @include mobile() {
    font-size: 20px;
    padding: 4em 1em;
  }
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  height: 13.33em;
  position: relative;
  font-style: italic;
  margin: 0 -1em;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    height: 13.33em;
    width: 13.33em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/photo.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    mix-blend-mode: luminosity;
  }
}

h1 span {
  display: block;
  position: absolute;
  top: 50%;
  left: -10em;
  right: -10em;
  transform: translateY(-50%) rotate(-6deg);
  mix-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
  h1 span {
    mix-blend-mode: lighten;
  }
}

h1 .p-given-name {
  font-size: 5.33em;
  color: var(--c-cyan);
  
  @include dark-mode() {
    text-shadow: 0 0 .5em var(--c-cyan);
  }
}

h1 .p-nickname {
  font-size: 2.66em;
  color: var(--c-magenta);
  margin-top: .25em;
  
  @include dark-mode() {
    text-shadow: 0 0 1em var(--c-magenta);
  }
}

h1 .p-nickname::before {
  content: "“";
}

h1 .p-nickname::after {
  content: "”";
}

h1 .p-family-name {
  font-size: 2.66em;
  color: var(--c-yellow);
  margin-top: .75em;
  
  @include dark-mode() {
    text-shadow: 0 0 1em var(--c-yellow);
  }
}

.p-job-title {
  font-size: 1.33em;
  margin: 2em 0;
}

.p-job-title a {
  font-weight: 900;
  color: var(--c-white);
  padding: .25em .6em .25em .5em;
  background-color: var(--c-black);
  -webkit-mask-size: cover;
  -moz-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: 0 0;
  -moz-mask-position: 0 0;
  mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../img/link-background.svg);
  -moz-mask-image: url(../img/link-background.svg);
  mask-image: url(../img/link-background.svg);
}

.p-job-title a:hover,
.p-job-title a:focus {
  background-color: var(--c-magenta);
}

@media (prefers-color-scheme: dark) {
  .p-job-title a:hover,
  .p-job-title a:focus {
    background-color: var(--c-yellow);
  }
}

.work {
  margin: 0 auto 2.66em;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    width: 25%;
    padding: 1em;
    min-width: 8em;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 1em;
      left: 0;
      right: 0;
      height: 4em;
      background-color: var(--c-black);
      -webkit-mask-size: 4em;
      -moz-mask-size: 4em;
      mask-size: 4em;
      -webkit-mask-position: center top;
      -moz-mask-position: center top;
      mask-position: center top;
      -webkit-mask-repeat: no-repeat;
      -moz-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      pointer-events: none;
    }
  }
}

.work li:nth-child(1)::after {
  -webkit-mask-image: url(../img/abstract.svg);
  -moz-mask-image: url(../img/abstract.svg);
  mask-image: url(../img/abstract.svg);
}

.work li:nth-child(2)::after {
  -webkit-mask-image: url(../img/dropbox.svg);
  -moz-mask-image: url(../img/dropbox.svg);
  mask-image: url(../img/dropbox.svg);
}

.work li:nth-child(3)::after {
  -webkit-mask-image: url(../img/instagram.svg);
  -moz-mask-image: url(../img/instagram.svg);
  mask-image: url(../img/instagram.svg);
}

.work li:nth-child(4)::after {
  -webkit-mask-image: url(../img/gowalla.svg);
  -moz-mask-image: url(../img/gowalla.svg);
  mask-image: url(../img/gowalla.svg);
}

.work a,
.work del {
  padding-top: 4.33em;
  display: block;
}

.work a strong,
.work del strong {
  font-weight: 900;
}

.work small {
  font-weight: normal;
  display: block;
  font-size: .66em;
}

.work a:hover strong,
.work a:focus strong {
  text-decoration: underline;
}

.work del strong {
  font-weight: normal;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
}

.links {
  margin-bottom: 2.66em;

  li {
    display: inline;

    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: "";
    }
  }
}

.links li a:hover,
.links li a:focus,
ul + p a:hover,
ul + p a:focus {
  text-decoration: underline;
}